@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

html {
    background: #2e2e2e;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    transition: 2s ease;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20em 0;
}

p, a {
    color: #ffffff;
    text-decoration: none;
}

a {
    font-size: 2em;
}

a:hover {
    color: #4e4e4e;
    transition: 200ms;
}