@import "https://fonts.googleapis.com/css?family=Rubik|Karla:300,400,500,600,700";

body {
  font-family: 'Karla', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #3b3b3b;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  padding-top: 30px;
  min-width: 250px;
  min-height: 100vh;
  transition: all 0.3s;
}

#sidebar p {
  color: #FF522B;
}

#sidebar .sidebar-header {
  padding: 10px 25px 0px 25px;
}

#sidebar ul li a {
  padding: 1px 25px;
  font-size: 1em;
  display: block;
  color: #3b3b3b;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar ul li a:hover {
  color: #FF522B;
  background: #fff;
}

#sidebar.active {
  margin-left: -250px;
}

.navbar {
  visibility: hidden;
}

@media (max-width: 768px) {
  .navbar {
    visibility: visible;
  }

  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
}

main h1 {
  font-family: 'Rubik', sans-serif;
  color: #FF522B;
  font-size: 1.5em;
  padding: 40px 40px 20px 40px;
}

main p {
  padding: 20px 40px;
}